@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import "../breakpoint.scss";
$font: Questrial, Arial, Helvetica, sans-serif;
* ::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("/public/images/background-img.png");
}
.Rpage {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    .imagehold {
        img {
            width: 200px;
        }
        margin-bottom: 30px;
    }
    .Rhodl {
        background: (
            linear-gradient(
                140deg,
                rgba(14, 66, 240, 1) 0%,
                rgba(61, 212, 253, 1) 74%
            )
        );
        width: 85%;
        padding: 1.2rem 4rem;
        border-radius: 4px;
        border: 1px solid #eee;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        p {
            color: white;
            font-family: $font;
            line-height: 1.5rem;
            font-size: 2rem;
            text-transform: uppercase;
            margin: 10px !important;
        }
        .inputfield {
            width: 100%;
            margin: 10px 0;
            padding: 10px 8px;
            font-family: $font;
            text-transform: capitalize;
            border: none;
            outline: none;
            border-radius: 4px;
        }
        .registerbtnhodl {
            .registerbtn {
                display: inline-block;
                line-height: 2.5rem;
                font-size: 0.8rem;
                border-radius: 3.7rem;
                padding: 0 55px;
                border: 1.6px solid #212121;
                color: #212121;
                font-weight: 600;
                letter-spacing: 1.25px;
                transition: background-color 0.3;
                background-color: #0d1754;
                color: white;
                font-family: $font;
                text-transform: capitalize;
                text-decoration: none;
            }
        }
    }
    .risk {
        padding: 1.5rem 0 0;
        text-align: center;
        font-size: 0.8rem;
        color: #727272;
       p{
            margin-bottom: 50px;
       }
    }
}
